@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4"><a asp-controller="Specializations" asp-action="Index">UMÓW WIZYTĘ!</a></h1>
        <div>@TempData["message"]</div>
        <div>@TempData["dodanaRola"]</div>
    </div>
